@import url('../../index.css');

.header-logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    color: var(--color-text);
}

h3 {
    font-weight: 600;
}